# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Instance folder
instance/
Bot-GPT/instance/

# Local Keys
key.py

# Log files
*.log

# User-specific data
user_data/

# Virtual environment
venv/
